<div class="container-fluid carrito">
  <div class="row">
    <div class="col-md-4 hidden-xs"><p class="navbar-text">Datos de tu compra</p></div>
    <div class="col-xs-4 col-md-2">
      <p class="navbar-text">
        Ahorro:<br class="visible-xs">
        <span class="cart-ahorro"><%= number_to_percentage(@carrito.ahorro) %></span>
      </p>
    </div>
    <div class="col-xs-4 col-md-2">
      <p class="navbar-text">
        <span class="cart-total"><%= number_to_currency(@carrito.total) %></span><br>
        <span class="cart-cantidad"><%= pluralize(@carrito.cantidad, ' producto', ' productos') %></span>
      </p>
    </div>
    <div class="col-xs-4 col-md-4">
      <p class="navbar-text">
        <% if (controller.controller_name == 'carts') %>
          <%= link_to(productos_path, class: 'prod-list') do %>
            <i class="icon-lmcart"></i> Ir a la Tienda
          <% end %>
        <% else %>
          <%= link_to(cart_path, class: 'prod-list') do %>
            <i class="icon-lmcart"></i> Ver Mi Compra
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="container-fluid menu-categorias">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-categorias" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <p class="visible-xs h4 navbar-text">Categorias</p>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-categorias">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Todas', productos_path, class: 'navbar-link' %></li>

      <% @categorias_menu.each do |c| -%>
          <% if c[:subcategorias].present? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= c[:nombre] %> <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <% c[:subcategorias].each do |sm| %>
                    <li><%= link_to sm[:nombre], productos_path(categoria_id: c[:id], subcategoria_id: sm[:id])%></li>
                  <% end %>
                </ul>
              </li>
          <%else %>
              <li><%= link_to c[:nombre], productos_path(categoria_id: c[:id]), class: 'navbar-link' %></li>
          <% end %>
      <% end -%>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->